
@use '../../../globals'

.task-item
	display: flex
	flex-direction: column
	gap: 2px

	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center

		&-text
			font-weight: 300
			font-size: 14px
			color: globals.$dark2
			text-overflow: ellipsis
			overflow: hidden

		&-inactive
			text-decoration: line-through
			color: globals.$grey2

		&-button
			cursor: pointer
			visibility: hidden
			transition: background .3s ease-in-out
			width: 15px
			height: 14px
			background: url('/button_done_active.svg')
			background-position: center
			background-repeat: no-repeat

			&-undone
				background: url('/button_done_inactive.svg')

		&:hover > &-button
			visibility: visible

	&__spacer
		height: 1px
		background: globals.$white2
