
@use '../../globals'

.day-card
	display: flex
	flex-direction: column
	flex-basis: 20%
	flex-grow: 1
	padding: 15px
	min-height: 96px
	min-width: 188px
	border-radius: 14px
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)
	background: globals.$white1
	cursor: pointer

	@media screen and (max-width: 1100px)
		width: 90%
		box-sizing: border-box

	&__date-section
		display: flex
		justify-content: space-between
		align-items: center

	&__week-day
		font-weight: 400
		font-size: 18px
		color: globals.$dark2

	&__date
		font-weight: 300
		font-size: 14px
		color: globals.$grey2

	&__spacer
		height: 1px
		background: globals.$grey3

	&__task-list
		display: flex
		flex-direction: column

	&-day-off &__week-day, &-day-off &__date
		color: globals.$red

	&-day-off &__spacer
		background: globals.$pink
