
@use '../../../globals'

.task-item
	display: flex
	justify-content: space-between
	align-items: center
	border: 1px solid #ccc
	border-radius: 14px
	padding: 10px
	min-height: max-content

	&__text
		font-weight: 300
		font-size: 14px
		color: globals.$dark2

	&__buttons
		display: flex
		gap: 10px
		visibility: hidden

		&-remove-button
			cursor: pointer
			background: url('/button_remove.svg')
			width: 10px
			height: 12px
			opacity: 0.5
			transition: opacity .1s ease-in
			background-size: cover
			background-repeat: no-repeat
			background-position: center

			&:hover
				opacity: 1

		&-done-button
			cursor: pointer
			width: 15px
			height: 14px
			background: url('/button_done_active.svg')
			background-size: cover
			background-repeat: no-repeat
			background-position: center

	&:hover > &__buttons
		visibility: visible

	&__inactive
		background: globals.$white3

	&__inactive &__text
		text-decoration: line-through

	@media screen and (max-width: 1100px)
		align-items: baseline

		&__buttons *
			width: 15px
			height: 18px
