
@use '../../globals'

.user-menu
	display: flex
	// margin-right: 2rem
	position: relative
	align-items: center
	cursor: pointer
	font-weight: 500
	font-size: 20px

	&__name
		padding: 5px 10px
		border-radius: 5px
		cursor: pointer

	&__menu
		position: absolute
		top: 1rem
		left: -2px
		transform: translate(-50%, -50%) translateY(4rem)
		padding: 10px 15px
		background: globals.$white2
		width: 140px
		min-height: fit-content
		border-radius: 14px
		transition: 0.3s
		opacity: 1

		@media screen and (max-width: 1100px)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%) translateY(4.5rem)

	&__hidden
		opacity: 0

	&__li
		list-style: none
		padding: 16px 0
		display: flex
		justify-content: center
		transition: 0.3s

	&__logout-button
		cursor: pointer
		font-weight: 300
		font-size: 20px
		text-align: center
		color: globals.$dark2
		border-radius: 5px
		padding: 4px 3px
		width: 140px
		height: 37px
		background: globals.$light_pink
		border: none

		&:hover
			background-color: globals.$red
